# fly.toml app configuration file generated for gourgandin on 2024-10-11T11:13:28+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gourgandin'
primary_region = 'cdg'

[build]

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory_mb = 256
